.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div h1{
  text-align: center;
  text-decoration: underline;
  font-style: normal;
  font-family: fantasy;
}

div h2{
 margin-left: 20px;
 font-family: fantasy;
}

div h5{
  margin-left: 20px;
  font-family: fantasy;
}

div h3 {
  font-family: fantasy;
  text-align: center;
  font-weight: bold;

}

h3{
  color: red;
  
}





ul{
  margin-left: 20px;
  font-family: fantasy; 
  
}
 

p {
  text-align: justify;
  font-size: 16px;
  font-family: optima;
}

div p {
  margin: 30px
}

ol li{
  font-family: fantasy;
}

.logo{
  color: red;
  font-size: 30px;
  text-align: center;
  font-family: cursive;
}

.title{
  color: red;
  font-size: 90px;
  font-family: cursive;
  position: absolute;
  text-align: center;
  bottom: 400px;
  left: 380px;
}

#homeTitle{
  color: red;
  font-size: 70px;
  font-family: cursive;
  position: relative;
  text-align: center;
  bottom: 870px; 
}

#homeCaption{
  color: black;
  font-size: 24px;
  font-family: fantasy;
  position: relative;
  text-align: center;
  bottom: 815px; 
}

#pregnancyTitle{
  color: red;
  font-size: 37px;
  font-family: cursive;
  position: absolute;
  text-align: center;
  bottom: 420px;
  left: 300px; 
}


#travelTitle{
  color: red;
  font-size: 37px;
  font-family: cursive;
  position: absolute;
  text-align: center;
  bottom: 420px;
  left: 300px;
}

.titleImage{
  opacity: 0.4;
  height: 400px;
  width: 100%
}

.selectionBar{
  text-align: center;
}

.createJournalButton{
  opacity: 0.7;
}

#homePageButton{
  opacity: 0.8; 
  
}

#homeMenu{
  position: relative;
  bottom: 915px;
  opacity: 0.65;
  font-family: fantasy;
}


#journalMenu{
  background-color: red;
  font-size: 18pt;
  font-family: fantasy;
}


.editor{
  margin-right: 0em;
}

.ck-editor_editable_inline {
  height: 500px;
}

#entriesImage{
  background-size: 100%;
  opacity: 0.8;
  background-repeat: repeat-x repeat-y;
  overflow: scroll;
  background-image: url('/Users/carolineforrester/Flatiron/code/phase_5_2/project-template-react-rails-api/client/src/images/pexels-life-of-pix-8892.jpg');
}

#journalImage{
  background-size: 100%;
  opacity: 0.8;
  background-repeat: repeat-x repeat-y;
  overflow: scroll;
  background-image: url('/Users/carolineforrester/Flatiron/code/phase_5_2/project-template-react-rails-api/client/src/images/pexels-fwstudio-139306.jpg');
}

#contactPageImage{
  background-size: 50%;
  background-repeat: repeat-x repeat-y;
  overflow: hidden;
  background-image: url('/Users/carolineforrester/Flatiron/code/phase_5_2/project-template-react-rails-api/client/src/images/pexels-skylar-kang-6045025.jpg');
}

#loginPageImage{
  background-image: url('/Users/carolineforrester/Flatiron/code/phase_5_2/project-template-react-rails-api/client/src/images/pexels-poan-studio-5797900.jpg');
  background-size: 50%;
  background-repeat: repeat;
}

.accountImage{
  background-image: url('/Users/carolineforrester/Flatiron/code/phase_5_2/project-template-react-rails-api/client/src/images/pexels-poan-studio-5797898.jpg');
  background-size: 100%;

}

#signUpPageImage{
  background-image: url('/Users/carolineforrester/Flatiron/code/phase_5_2/project-template-react-rails-api/client/src/images/pexels-skylar-kang-6045025.jpg');
  background-size: 50%;
  background-repeat: repeat-x repeat-y;
}
 
